<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap.min.css' />
    <script src='/libs/socket.io-client/socket.io.js'></script>
  </head>
  <body class="container">
    {{{body}}}
  </body>
</html>
